*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #f5f5f5;
}
.dropdown-toggle-custom{
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    color: #000;
    padding: 10px 15px;
    transition: all 0.3s ease;
   
}


.Dropdown-link{
    text-decoration: none;
    color: #000;
    font-size: 16px;
    font-weight: 500;
    padding: 10px 15px;
    display: block;
    transition: all 0.3s ease;
}
.Dropdown-link:hover{
    color:rgb(247, 242, 242);
    background-color: #15378e;
}


.icon-container{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    margin-left: 10px;
    width: 60px;
    height: 40px;
    background-color: #c3c7d2;
    transition: all 0.3s ease;
}

.icon-container:hover{
    background-color: #f6f6f8;
}