:root{
    --text-primary:#000;
    --bgPrimary:#fff;
   --bgSecondary: #F9F9F9;
   --pink: #0071bd;
   --light-blue: #e6f7ff;
   --border: #d9d9d9;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a:hover{
    color: var(--pink) !important;
}

.app{
    display: flex;
    overflow: hidden;
    position: relative;
}

.navbar{
    flex: 0.2;
    background-color: rgb(63, 197, 132);
}

.main{
    flex: 0.8;
    width: 100%;
    
}
.routes{
    padding: 20px;
}

.title{
    position : fixed;
    top: 0;
    z-index: -1;

}
.nav-container{
    position: fixed;
    left: 0;
    margin: 12px;
    height: 100vh;
    width: 250px;
    margin: 0px;
    background-color: rgb(0, 21, 41);

}

.logo-container{
    background-color: #001529;
    display: flex;
    padding: 22px;
    align-items: center;
    width: 100%;
}
.logo{
    margin:0 0 0 15px;
}
.logo a{
   color: white;
}
.menu-control-container{
    display: none !important;
    position: absolute !important;
    right: 10px !important;
    top: 25px !important;
    font-size: 1.2rem !important;
    background-color: var(--bgSecondary) !important;
    border: none !important;
}

.app-container {
    display: flex;
    height: 100vh; /* 100% of the viewport height */
  }
  
  .navbar-container {
    width: 250px; 
    background-color: #333; 
    color: white;
    padding: 20px;
    height: 100vh;
    
  }
  
  .content-container {
    flex: 1; /* Allow the content to expand and take remaining space */
    padding: 20px;
    width:200px;
    height: 100vh;
  }
  
